*{
    box-sizing: border-box;
}
body{
    background-color: #669647;
}

.contenedor{
    width: 80%;
    max-width: 900px;
    background-color: #fff;
    margin: auto;
}
header img{
    width: 100%;
    max-width: 900px;
}

main img{
    width: 100%;
    max-width: 500px;
}

ul{
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: #fff;
    background-color: #333333;
    padding: 15px 20px;
    display: block;
    
}

.menuprincipal{
    float: left;
}

nav{
    width: 120%;
    max-width: 900px;
    height: 50px;
    font-size: 15px;
}

nav a:hover{
    background-color: #2f691a;
}

nav li ul{
    position: absolute;
    min-width: 140px;
    display: none;
}

nav li:hover >ul{
    display: block;
}
.contenido{
    display: grid;
    grid-template-columns: 50% 40%;
    max-width: 900px;
    padding: 3%;
    gap: 4%;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #d48282;
}
thead{
    background-color: rgb(233, 128, 128);
}
.siguenos{
    display: grid;
    grid-template-columns: 16% 16% 16%;
    width: 100%;
    max-width: 300px;
}
.recomendado{
    color: rgb(141, 141, 141);
}
.recomendaciones{
    display: flex;
    justify-content: flex-start;
}
.recomendaciones img{
    width: 100%;
    max-width: 500px;
    padding: 10px;
}
span{
    padding: 10px;
}
.escribenos{
    font-size: 30px;
    font-weight: bold;
}
.text input{
    width: 95%;
}
textarea{
    width: 95%;
}
.enviar{
    display: flex;
    justify-content: center;
}
fieldset{
    background-color: #dddddd;
}
footer{
    background-color: rgb(151, 149, 143);
    width: 100%;
    color: white;
}
.pie_pagina{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    gap: 2%;
    margin: auto;
    width: 90%;
}
main article h2{
    margin-top: 28%;
}
.subir a{
    text-decoration: none;
    background-color: rgb(148, 148, 148);
    color: white;
    border-radius: 4px;
}

@media screen and (max-width: 1150px){
    .contenido{
        width: 100%;
    }
    main img{
        width: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 750px){
    main{
        width: 100%;
    }
    aside{
        width: 100%;
    }
    .pie_pagina{
        display: grid;
        width: 90%;
        max-width: 900px;
        margin: auto;
        font-size: 11px;
        gap: 4%;
        grid-template-columns: 15% 15% 15% 15% 15%;
    }
    main img{
        width: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .subir a{
        font: 11px;
        margin: auto;
        width: 100%;
    }
}

@media screen and (max-width: 900px){
    .contenido{
        width: 100%;
        display: block;
    }
    table{
        width: 100%;
        max-width: 900px;
    }
}
